body {
    background: rgb(142,114,208);
    background: -moz-radial-gradient(circle, rgba(142,114,208,1) 0%, rgba(174,155,218,1) 45%, rgba(224,208,237,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(142,114,208,1) 0%, rgba(174,155,218,1) 45%, rgba(224,208,237,1) 100%);
    background: radial-gradient(circle, rgba(142,114,208,1) 0%, rgba(174,155,218,1) 45%, rgba(224,208,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e72d0",endColorstr="#e0d0ed",GradientType=1);
}
.pointer {
    cursor: pointer !important;
}
.opaque {
    background-color: rgba(255, 255, 255, 0.5);
}
.panel {
    padding: 2rem;
    margin-bottom: 2rem;
}
.rounded {
    border-radius: 10px;
    overflow: hidden;
}
.title {
    max-width: 20rem !important;
}
.cursor-default {
    cursor: default !important;
}
[data-pokedex] {
    max-width: 15rem;
    margin: 0 auto;
    padding: 2rem;
}
[data-pokeball] {
    width: 100%;
    max-width: 15rem;
}
.small-pokeball {
    width: 2rem;
}
.modal-title {
    padding-bottom: 8px;
    border-bottom: 2px solid #b51a2b;
}
* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* uikit */
.uk-section-primary {
    padding: 20px 0 !important;
}
.uk-section-primary:after {
    content: " ";
    display: block;
    height: 7px;
    width: 100%;
    bottom: -20px;
    position: relative;
    background-image: radial-gradient(circle at 50% -20.71%, #5972f0 0, #4f69e9 25%, #4b67f0 50%, #fef83e 75%, #c4be2a 100%);
}
.uk-card-default {
    background-color: transparent !important;
}
.uk-badge,
.uk-button-primary {
    background-color: #A284DA !important;
}
.uk-section-primary {
    background: rgb(205,35,54) !important;
    background: -moz-radial-gradient(circle, rgba(205,35,54,1) 0%, rgba(157,19,33,1) 49%, rgba(205,64,79,1) 100%) !important;
    background: -webkit-radial-gradient(circle, rgba(205,35,54,1) 0%, rgba(157,19,33,1) 49%, rgba(205,64,79,1) 100%) !important;
    background: radial-gradient(circle, rgba(205,35,54,1) 0%, rgba(157,19,33,1) 49%, rgba(205,64,79,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd2336",endColorstr="#cd404f",GradientType=1) !important;
}
.uk-button-primary:hover,
.uk-button-primary:active {
    background-color: #886ac2 !important;
}
.uk-inline .uk-icon-button {
    position: absolute;
    right: 0px;
    border-radius: 0;
    height: 40px;
}
.uk-table-small td, .uk-table-small th {
    padding: 1px 5px !important;
}
.uk-pagination li > * {
    color: #ffffff !important;
}
.uk-pagination li.uk-active > * {
        color: #b51a2b !important;
}




.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out infinite both;
	        animation: rotate-center 1s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-12 11:7:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
@keyframes rotate-center {
0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}

.swirl-in-fwd {
-webkit-animation: swirl-in-fwd 0.6s ease-out both;
        animation: swirl-in-fwd 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-12 16:27:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
}
@keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
}
  

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-12 16:29:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  